*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
h1{color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.card {
    width: 90%;
    max-width: 470px;
    
    background-size: 400% 400%;
    color: #fff;
    margin: 30px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background: linear-gradient(135deg, #00feba, #5b548a);
    }
    20% {
        background: linear-gradient(135deg, #ff6f61, #ffcc00);
    }
    40% {
        background: linear-gradient(135deg, #ff00ff, #00ffff);
    }
    60% {
        background: linear-gradient(135deg, #ff4500, #32cd32);
    }
    80% {
        background: linear-gradient(135deg, #9400D3, #FFD700); /* 深紫到金色 */
    }
    100% {
        background: linear-gradient(135deg, #00feba, #5b548a);
    }
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color:#555;
    padding: 10px 20px;
    height: 60px;
    border-radius: 30px ;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.weather-icon{
    padding:-60px ;
}



.temp{
    font-size: 70px;
    font-weight: 500;
}
.city{
    font-size: 50px;
    font-weight: 400;
    margin-top: -15px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 1px;
}
.humidity,.wind{
    font-size: 20px;
    margin-top: -10px;
}
.Weather {
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top:10px ;
    display: none;
}
